* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
}

.navbar {
    position: absolute;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 20px;
}

.navbar .nav-links ul li.active a {
    color: #0eebeb;
    border-bottom: 2px solid;
    font-weight: 600;
}

@media (width <=880px) {
    .navbar .nav-links {
        position: absolute;
        background-color: black;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        padding: 0;
    }

    .navbar .nav-links ul li {
        margin: 20px 0;
        font-size: 1.2em;
    }

    .navbar .nav-links ul li.active a {
        color: #0eebeb;
        border-bottom: 2px solid;
        font-weight: 600;
        font-size: 1.5em;
    }

    .navbar .logo {
        font-size: 2em;
        font-weight: bold;
        position: absolute;
        top: 39px;
        left: 35px;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }
}

.menu-hamburger {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 35px;
}

@media (width >=880px) {
    .menu-hamburger {
        display: none;
    }
}